// import font
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');

// variables
$color-accent: #9b59b6;
$color-dark: #333;

// box-sizing
*, *::before, *::after {
 box-sizing: border-box;
}


html, body {
  height: 100%;
}


body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $color-dark;
  line-height: 1.7;
}
a {
  color: inherit;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/bg.jpg') center/cover;
  min-height: 400px;
  position: relative;
  box-shadow: inset 0 -8rem 8rem -8rem rgba(#000, .8);
  border-radius: 0 0 .2em .2em;
  overflow: hidden;
  &::before {
    content: '';
    background: rgba( darken($color-accent, 35%), .7);
    background: linear-gradient(to bottom, rgba( darken($color-accent, 45%), .3) 0%,rgba( darken($color-accent, 35%), .7) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.headings {
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  &__title{
    font-size: 3.2rem;
    line-height: .7em;
    margin: 0;
    font-weight: 100;
  }
  &__subtitle {
    opacity: .8;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before, &::after{
        content: '';
        width: 2rem;
        height: 1px;
        display: inline-block;
        background-color: #ffffff;
        margin: 0 0.5rem;
    }
  }
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 5em 3em;
  background: #fff;
  text-align: justify;
  padding-bottom: 10rem;
  position: relative;
  min-height: calc(100% - 400px)
}
.lorem {
  &__select {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-accent;
    text-transform: uppercase;
    padding-bottom: 3rem;
  }
  &__link{
    padding: .3em .7em;
    margin: .5em;
    text-decoration: none;
    letter-spacing: 2px;
    border: 1px solid currentColor;
    border-radius: 4px;
    transition: .3s linear;
    transition-property: color, background;
    &:hover{
      color: #fff;
      background: $color-accent;
    }
  }
  &__title {
      font-weight: 700;
  }
  &__website {
    position: relative;
    display: inline-block;
    padding: .2em .4em;
    span{
      position: relative;
      z-index: 2;
    }
  }
  &__website::before {
    content: '';
    position: absolute;
    background: rgba($color-accent, .5);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .2s ease-in-out;
  }
  &__website:hover::before {
    width: 100%;
  }
}
.footer {
  background: $color-accent linear-gradient(to top, darken($color-accent, 10%) 0%, $color-accent 70%);
  color: white;
  text-align: center;
  padding: 3.5rem 0 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: .2em .2em 0 0;
  &__link{
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: .3s ease-in-out;
      padding-bottom: 0;
      transition-property: border-bottom-color, padding-bottom;
      &:hover{
          border-bottom-color: currentColor;
          padding-bottom: 3px;

      }
  }
}
