@import url('https://fonts.googleapis.com/css?family=Roboto');
$color-accent: #9b59b6;
$color-dark: #333;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}
body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  color: $color-dark;
  line-height: 1.5em;
}
a {
  color: inherit;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/bg.jpg') center/cover;
  min-height: 400px;
  position: relative;
  box-shadow: inset 0 -8rem 8rem -8rem rgba(#000, .8);
  border-radius: 0 0 .2em .2em;
  overflow: hidden;
  &::before {
    content: '';
    background: rgba( darken($color-accent, 45%), .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.headings {
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  &__title{
    font-size: 3.2rem;
    line-height: .7em;
    margin: 0;
    text-shadow: 2px 2px 5px rgba( darken($color-accent, 45%), .7);
  }
  &__subtitle {
    opacity: .8;
  }
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 5em 3em;
  background: #fff;
  text-align: justify;
  padding-bottom: 10rem;
  position: relative;
  min-height: calc(100% - 400px)
}
.lorem {
  &__select {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-accent;
    text-transform: uppercase;
    padding-bottom: 3rem;
  }
  &__link{
    padding: .3em .7em;
    margin: .5em;
    text-decoration: none;
    letter-spacing: 2px;
    border: 1px solid currentColor;
    border-radius: 4px;
    transition: all .3s linear;
    &:hover{
      color: #fff;
      background: $color-accent;
    }
  }
  &__website {
    position: relative;
    z-index: 2;
    padding: .2em
  }
  &__website::before {
    content: '';
    position: absolute;
    background: rgba($color-accent, .5);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: all .2s ease-in-out;
  }
  &__website:hover::before {
    width: 100%;
  }
}
.footer {
  background: $color-accent linear-gradient(to top, darken($color-accent, 10%) 0%, $color-accent 70%);
  color: white;
  text-align: center;
  //margin: 0 -3em;
  padding: 3.5rem 0 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: .2em .2em 0 0;
}
